
<label class="p-1">@Name</label>
<div class="flex flex-row">
    <InputFieldText WidthClass="w-36" @bind-InputValue="@ValueFrom" OnInput="@OnInputChangeFrom" MaxLength="@MaxLength" IsEnableClearButton="true" />
    <label class="w-10 text-center">～</label>
    <InputFieldText WidthClass="w-36" @bind-InputValue="@ValueTo" OnInput="@OnInputChangeTo" MaxLength="@MaxLength" IsEnableClearButton="true" />
</div>


@code {
    [Parameter, EditorRequired]
    public string? Name { get; set; }

    [Parameter]
    public string? ValueFrom { get; set; }

    [Parameter]
    public string? ValueTo { get; set; }

    [Parameter]
    public int? MaxLength { get; set; }

    [Parameter]
    public EventCallback<string> ValueFromChanged { get; set; }
    [Parameter]
    public EventCallback<string> ValueToChanged { get; set; }

    private async Task OnInputChangeFrom(ChangeEventArgs e)
    {
        await ValueFromChanged.InvokeAsync(ValueFrom);
    }

    private async Task OnInputChangeTo(ChangeEventArgs e)
    {
        await ValueToChanged.InvokeAsync(ValueTo);
    }
}
